@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.App{
  min-height: 100vh;
  background-color: #000;
}

.App > img {
  position: absolute;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  opacity: .7;
}

.container {
  width: 100%;
  padding-top: 20px;
  display: flex;
  position: absolute;
  color: white;
}

.right-content {
  width: 30%;
  text-align: center;
  position: fixed;
  
}

.right-content > img {
  margin: 2rem 0;
  height: 190px;
}

.right-content > img:first-child {
  margin-bottom: 2rem;
  height: 160px;
  width: 320px;
}

.right-content h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.abilities {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.abilities .group {
  background-color: #b74555;
  border-radius: 8px;
  padding: .2rem;
  margin: .5rem;
  
}

.base-stat {
  margin-top: 2rem;
}

.left-content {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-group {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 1rem;
}

.btn-group button {
  outline: none;
  border: none;
  height: 40px;
  width: 130px;
  padding: 0.3rem 0;
  margin: 1rem;
  border-radius: 8px;
  font-size: 19px;
  font-weight: bold;
  color: white;
  background-color: #b74555;
  cursor: pointer;

}

.card {
  width: 280px;
  height: 60px;
  background-color: transparent;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}